form {
    .input-box {
        .photo-option {
            margin: 20px 0;
            line-height: 22px;
        }

        .yellow-text {
            font-weight: 500;
            color: #f0b70b;
        }
    }
}