footer {
    background-color: #1959c9;
    width: 100%;

    p {
        font-size: 14px;
        color: white;
        padding: 20px 0;
        line-height: 22px;

        a {
            cursor: pointer;
            font-weight: 500;
            color: white;
        }
    }
}